<p>There are {{ collections.pets.size }} pet(s).</p>

<ul>
{% for pet in collections.pets %}
  <li><b>{{ pet.data.type}}</b>:  <a href="{{ pet.url | url }}">{{ pet.data.name }}</a></li>
{% endfor %}
</ul>