---
layout: "layouts/default"
permalink: /
---

<h2>Pets</h2>

{% include 'components/simple_pets_list' %}

<h2>Site maps</h2>

<p>There are {{ collections.all.size }} collection items across the board.</p>

<ul>
{% for item in collections.all %}
  <li><a href="{{ item.url | url }}">{{ item.data.page.fileSlug }}</a> <i>({{ item.url }})</i></li>
{% endfor %}
</ul>